{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game Reviews{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div>
            <a href="{% url 'dashboard' %}">Home</a> |
            <a href="{% url 'add_review' %}">Add Review</a> |
            <a href="{% url 'review_list' %}">All Reviews</a>
        </div>

        <!-- Login/logut buttons -->
        <div class="login_logout_nav">
            <a href="{% url 'account:login' %}">Login</a> |
            <a href="{% url 'account:logout' %}">Logout</a>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>